.form {
  margin-bottom: 1rem;
}
.containerDefaultLogin{
  margin-bottom: 5rem;
  display: flex;
  gap:.5rem;
}
.defaultLogin {
  width: fit-content;
  padding: .5rem 1rem;
  border: 2px solid #eee;
  border-radius: .5rem;
  color: #777;
  font-weight: 600;
}
.resetPassword {
  display: inline-block;
  color: #666;
  padding: 0.5rem;
  line-height: 1;
}

.resetPassword::after {
  content: "";
  height: 0.125rem;
  width: 100%;
  background: currentColor;
  display: block;
}

.createAccount {
  margin-top: 4rem;
}

.createAccount p {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: "";
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
